<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS para resetear los estilos -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <!-- CSS de estilos generales del sitio -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- CSS para el menú de navegación -->
    <link rel="stylesheet" href="../assets/css/header.css">
    <!-- CSS para el detalle del producto -->
    <link rel="stylesheet" href="../assets/css/productdetail.css">
    <!-- CSS para la sección de contacto -->
    <link rel="stylesheet" href="../assets/css/sectioncontact.css">
    <!-- CSS para el footer -->
    <link rel="stylesheet" href="../assets/css/footer.css">
    <!-- Enlace a Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Titulo de la pestaña -->
    <title>AluraGeek - new product</title>
</head>

<body>

    <!-- Empieza el header con el logo, search y login -->
    <header class="header">
        <nav class="navbar">
            <!-- logo -->
            <div class="navbar__logo">
                <a href="../index.html"><img src="../img/header/Logo.png" alt="AluraGeek" title="AluraGeek"></a>
            </div>

            <!-- search -->
            <div class="navbar__buscador">
                <input class="navbar__buscador--input" type="text" placeholder="¿Que deseas buscar?">
                <a class="navbar__buscador--icon" href="#" target="_blank"><i class="bi bi-search"></i></a>
            </div>

            <!-- login -->
            <a class="login_button" href="./login/login.html" alt="Login" title="Login">Login</a>
        </nav>
    </header>
    <!-- Termina el header -->

    <!-- Sección para agregar un producto nuevo -->

    <!-- Termina la sección para agregar un producto nuevo -->

    <!-- Sección de menú de contacto: logo, menu y formulario -->
    <section class="contact">
        <div class="contact__content">
            <!-- logo -->
            <div>
                <img class="contact__content--logo" src="../img/header/Logo.png" alt="AluraGeek" title="AluraGeek">
            </div>

            <!-- menu -->
            <div class="contact__content--menu">
                <ul class="menu">
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Quiénes Somos" title="Quiénes somos">Quiénes somos</a></li>
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Política De Privacidad" title="Política de privacidad">Política de
                            privacidad</a></li>
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Programa De Fidelidad" title="Programa de fidelidad">Programa de
                            fidelidad</a></li>
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Nuestras Tiendas" title="Nuestras tiendas">Nuestras tiendas</a></li>
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Quiero Ser Franquiciado" title="Quiero ser franquiciado">Quiero ser
                            franquiciado</a></li>
                    <li class="menu__item"><a class="menu__item__link" href="productsall.html" target="_blank"
                            alt="Anuncie Aquí" title="Anuncie aquí">Anuncie aquí</a></li>
                </ul>
            </div>

            <!-- formulario -->
            <div class="contact__content--form">
                <div class="contact__content--form__title">
                    <h6 class="title">Hable con nosotros</h6>
                </div>

                <form class="form" action="">
                    <div class="form__name">
                        <label for="nombre" class="form__name--label">Nombre</label>
                        <input id="nombre" class="form__name--input" name="name" type="text" placeholder="Nahuel Lopez">
                    </div>

                    <div class="form__message">
                        <textarea id="mensaje" class="message" name="message"
                            placeholder="Escribe tu mensaje"></textarea>
                    </div>

                    <a class="contact_form__button send_message__button" href="productsall.html" alt="Enviar Mensaje"
                        title="Enviar Mensaje">Enviar Mensaje</a>
                </form>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <!-- Redes sociales -->
        <div class="footer__redes">
            <!-- LinkedIn -->
            <div>
                <a href="https://www.linkedin.com/in/nahuel-developer/" target="_blank">
                    <img src="../img/footer/linkedin.svg" class="footer__redes--logo" alt="Imagen del logo de linkedIn">
                </a>
            </div>
            <!-- GitHub -->
            <div>
                <a href="https://github.com/Nahuel-DevOne" target="_blank">
                    <img src="../img/footer/github.svg" class="footer__redes--logo" alt="Imagen del logo de GitHub">
                </a>
            </div>
        </div>
        <!-- Derechos -->
        <div class="footer__derechos">
            <p class="footer__derechos--parrafo">Desarrollado por Nahuel-DevOne</p>
            <p class="footer__derechos--parrafo">&copy;2022</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/b95dc486b7.js" crossorigin="anonymous"></script>

</body>

</html>